body {
    font-family: "Lucida Consoles", monospace;
    padding: 40px;
    line-height: 1.5;
    width: 600px; 
    overflow-wrap: break-word; 
    background-color: #16203d;
    color: rgb(233, 235, 243);
}

button {
    padding: 10px 20px;
    background-color: #393f74;
    color: #e1e6f6;
    border: 2px solid #9cacdb;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Lucida Consoles", monospace;
    width: 100%; 
}
p {
    font-size: 14px;
}
li {
    font-size: 15px;
}
.textBox {
    padding: 10px 20px;
    background-color: #212652;
    color: #ebeef6;
    border: 2px solid #9cacdb;
    margin-top: 20px;
}
a {
    color: rgb(128, 163, 238);
  }

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #adb0eb;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}